.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }

  .box {
    border: 1px solid black;
    padding: 20px;
    flex: 1;
    text-align: center; /* Center-align text */
  }

  .header,
  .footer {
    flex-basis: 100%;
  }

  .header,
  .left,
  .content,
  .right,
  .footer {
    border: 2px solid blue; /* Add a border to each box */
  }

  .left,
  .right {
    margin-right: 1px;
    margin-left: -1px;
    border: 2px solid blue; /* Add a border to each box */
  }
